# arangodb.service

[Unit]
Description=ArangoDB Database

[Service]
Type=oneshot
#RemainAfterExit=yes
PIDFile=/var/run/arangod/arangod.pid
User=root
ExecStartPre=/bin/mkdir -p /var/run/arangod
ExecStartPre=/bin/chown arangodb:arangodb /var/run/arangod
ExecStart=/usr/sbin/arangod --pid-file /var/run/arangod/arangod.pid --server.uid arangodb --daemon
ExecStop=/bin/kill -2 $MAINPID

[Install]
WantedBy=multi-user.target
