# arangodb.service

[Unit]
Description=ArangoDB Database

[Service]
Type=forking
#RemainAfterExit=yes
PIDFile=/var/run/arangod.pid
User=root
ExecStart=/usr/sbin/arangod --pidfile $MAINPID --make-pidfile --user arangodb --background
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
